.right-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right-navbar {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
}

.other-days {
  color: black;
}

.navbar-tabs {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  margin-bottom: 16px;
}
.right-data-box {
  flex: 12;
  display: flex;
  flex-direction: column;
}
.other-days-cards-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: -20px;
}
.other-days-card {
  width: 20%;
  height: 99%;
  background-color: white;
  border-radius: 10px;
  margin-left: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  font-weight: 500;
}
.card-temperature {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: Cambria, monospace;
}
.other-days-date {
  font-weight: bolder;
  font-size: small;
}
